<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemoteLab | Usuário</title>
    <link rel="stylesheet" href="/general/css/fonts.css">
    <link rel="stylesheet" href="/general/css/colors.css">
    <link rel="stylesheet" href="/general/css/basic.css">
    <link rel="stylesheet" href="/general/css/scrollbar.css">
    <link rel="stylesheet" href="/lab-clp/css/clp-data.css">
    <link rel="stylesheet" href="/general/css/animations/load.css">
    <link rel="stylesheet" href="/partials/css/navbar.css">
    <link rel="stylesheet" href="/partials/css/user-card.css">
    <link rel="stylesheet" href="/partials/css/lab-card.css">
    <link rel="stylesheet" href="/partials/css/disp-clp.css">
    <link rel="stylesheet" href="/partials/css/table-line-for-dispositivo.css">
    <link rel="stylesheet" href="/general/css/responsivity/resp-general.css">
    <link rel="stylesheet" href="/partials/css/resp-user-card.css">
    <link rel="stylesheet" href="/partials/css/nav-resp.css">
    <link rel="stylesheet" href="/lab-clp/css/clp-cad-initial.css">
    <link rel="stylesheet" href="/lab-clp/css/responsivity/resp-clp-crud.css">
    <link rel="stylesheet" href="/general/css/modal.css">
</head>
<body>
    <section>
        <%- include('../partials/modal')%>

        <%- include('../partials/navbar', {logo: "/lab-clp/img/logo-lab-clp.svg", link1: "#", icon1: "", descricao1: "", link2: "#", icon2:"", descricao2: "", class1:"", class2:"" }) %>

        <div class="data">
            <h2>Atualização de CLP</h2>
            <form action="/clp-data" method="post" class="att-clp">
                <input type="text" name="txt-nome-clp" id="txt-nome-clp" placeholder="Insira o nome do CLP">
                <input type="text" name="txt-ip-clp" id="txt-ip-clp" placeholder="Insira o IP do CLP">
                <button type="submit"><img src="/general/img/icons/edit-icon.svg" alt="ìcone de login">Atualizar</button>
            </form>
            <br>
            <hr>
            <br><br>
            <h3>Gerenciar dispositivos</h3>

            <div class="btn-add-disp">
                
                <a href="#abrirModalDispositivo">
                    <img src="/general/img/icons/add-icon.svg" alt="Ícone de adicionar novo dispositivo"> Novo dispositivo
                </a>
            </div>

            <div class="table-clps" data-anime="up">
                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Modelo
                            </th>
                            <th>
                                Descrição
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('../partials/table-line-for-dispositivo', {id: "D1", nome:"Botão", tipo: "Entrada digital", modelo: "Genérico", descricao: "Descrição para este dispositivo"})%>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="/general/js/animations/load.js"></script>
    </section>
    
</body>
</html>