<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemoteLab | Ladder</title>
    <!-- CSS GERAL-->
    <%- include('../partials/css-basic')%>
    <!-- CSS INDIVIDUAL -->
    <link rel="stylesheet" href="/lab-clp/css/diagram.css">

</head>

<body>
    <section>
        <%- include('../partials/modal')%>

            <%- include('../partials/navbar', {logo: "/general/img/logo-remotelab.svg" }) %>

                <div class="data">
                    
                </div>

                <div class="lateral-bar">
                    oioi
                </div>

    </section>

    <script src="/general/js/navbar.js"></script>
</body>

</html>