<div class="add-devices">
    <h3>Dados do dispositivo</h3>
    <form id="cad-clp-device">
        <select name="type" id="type-device">
            <option value="in-digital">Entrada digital</option>
            <option value="in-analog">Entrada analógica</option>
            <option value="out-digital">Saída digital</option>
            <option value="out-analog">Saída analógica</option>
        </select>
        <select name="indig" id="ports-device-dig-in"></select>
        <select name="inana" id="ports-device-ana-in"></select>
        <select name="outdig" id="ports-device-dig-out"></select>
        <select name="outana" id="ports-device-ana-out"></select>
        <select name="model" id="device-models">
            <option value="GENERIC">Genérico</option>
        </select>

        <button type="submit">Salvar</button>
    </form>
</div>