/*Laptop*/
@media (max-width: 1024px) {
    
}

/*Tablet*/
@media (max-width: 768px) {
    section div.data{
        padding: 50px 50px 50px 50px;
    }
}

/*Mobile L*/
@media (max-width: 425px) {
    section div.data div.up-data-clp-cad{
        flex-direction: column;
    }
}

/*Mobile M*/
@media (max-width: 375px) {
   
    section div.data{
        padding: 30px;
    }
}

/*Mobile S*/
@media (max-width: 320px) {
    
}