<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemoteLab | Usuário</title>
    <!-- CSS GERAL-->
    <%- include('../general/partials/css-basic')%>
    <!-- CSS INDIVIDUAL -->
    <link rel="stylesheet" href="/general/css/cad-user.css">
</head>

<body>
    <section>
        <%- include('../general/partials/navbar', {logo: "/general/img/logo-remotelab.svg" }) %>

            <div class="data">
                <div class="sup-data">
                    <h2>Cadastro de usuário</h2>
                    <a href="#abrirModalCadUser">Novo usuário</a>
                </div>

                <table>
                    <thead>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Função</th>
                    </thead>
                    <tbody id="list-user"></tbody>
                </table>

            </div>

            <%- include('../general/partials/modal') %>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/general/js/instance-axios.js"></script>
    <script src="/general/js/crud-user.js"></script>
    <script src="/general/js/cad-user.js"></script>
    <script src="/general/js/navbar.js"></script>
</body>

</html>