section{
    display: flex;
}

section div.data{
    padding: 50px 50px 50px 150px;
}

section div.labs-list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    grid-column-gap: 30px;
    grid-row-gap: 1em;
}
