section.login-area div.image-area svg{
    animation: all 2s ease-in-out infinite alternate;
}

@keyframes all {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-5px);
    }
}

section.login-area div.image-area svg #plant-1 {
    animation: plants 3s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

section.login-area div.image-area svg #plant-2 {
    animation: plants 2.5s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes plants {
    from {
        transform: rotateZ(5deg);
    }
    to {
        transform: rotateZ(-5deg);
    }
}

section.login-area div.image-area svg #question {
    animation: question 2s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


@keyframes question {
    from {
        transform: rotateZ(5deg);
    }
    to {
        transform: rotateZ(-5deg);
    }
}

section.login-area div.image-area svg #head {
    animation: head 3.5s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


@keyframes head {
    from {
        transform: rotateZ(5deg);
    }
    to {
        transform: rotateZ(-5deg);
    }
}

section.login-area div.image-area svg #point-1 {
    animation: point-1 3s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


@keyframes point-1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
}

section.login-area div.image-area svg #point-2 {
    animation: point-2 3s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


@keyframes point-2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

section.login-area div.image-area svg #point-3 {
    animation: point-3 3s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


@keyframes point-3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
}

section.login-area div.image-area svg #point-4 {
    animation: point-4 3s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


@keyframes point-4 {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}