section{
    display: flex;
}

section div.data{
    padding: 50px 50px 50px 150px;
    width: 100%;
}

section div.data div.up-data-clp-cad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div.data h2{
    margin-top: 20px;
    color: var(--main-green);
}

section div.data table{
    width: 100%;
    position: relative;
    margin: 20px 0 0 0;
    border-collapse: collapse;
}

section div.data table button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}