section{
    display: flex;
}

section div.data{
    padding: 50px 50px 50px 150px;
    width: 100%;
}

section div.data div.up-data-clp-cad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div.data div.up-data-clp-cad a{
    display: flex;
    align-items: center;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    width: 180px;
    justify-content: space-evenly;
    border-color: var(--main-green);
    text-decoration: none;
    border-radius: 5px;
}

section div.data table{
    width: 100%;
    position: relative;
    margin: 50px 0 0 0;
    border-collapse: collapse;
}
