
<div class="card-lab">
    <a href="<%= link %> " class="link-lab">
    <img src="<%= image %>" alt="Imagem do laboratório">
    <div class="lab-data">
        <p><%= name %></p>
        <p><%= desc %> </p>
    </div>
    </a>
</div>