<div id="abrirModalCLP" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../lab-clp/clp-cad-initial')%>
    </div>
</div>
<div id="abrirModalDispositivo" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../lab-clp/disp-clp')%>
    </div>
</div>
