<div id="abrirModalCLP" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../lab-clp/clp-cad-initial')%>
    </div>
</div>
<div id="abrirModalDispositivo" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../lab-clp/disp-clp')%>
    </div>
</div>
<div id="abrirModalDispositivoEdit" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../lab-clp/disp-clp-edit')%>
    </div>
</div>
<div id="abrirModalCadastroUser" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../partials/user-cad')%>
    </div>
</div>

