<div class="navbar">
    <input type="checkbox" id="nav-check">
    <div class="logo">
        <img src="<%= logo %>" alt="Logotipo do site" class="logo">
    </div>
    <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
    <div class="icons" id="icons">
        
    </div>
    <div class="exit">
        <a href="#" id="btn-exit">Sair</a>
    </div>
</div>