<tr>
    <td><%= id %> </td>
    <td><%= nameDiagram %> </td>
    <td><%= email %> </td>
    <td><%= typeUser %> </td>
    
    <td><button onClick="edit(this)">Editar</button></td>
    <td><button onClick="delete(this)">Apagar</button></td>
</tr>