<div class="ca-user-data">
    <h2>Atualização de versão de CLP</h2>
    <form class="add-user" id="update-clp-version">
        <div class="texts">
            <p>Versão do CLP</p>
            <input type="text" name="release" id="releaseUp" placeholder="Insira a versão do CLP">
            <div class="inp">
                <div>
                    <p>Entradas digitais</p>
                    <input type="number" name="inDig" id="inDigUp" placeholder="Número de entradas digitais">
                </div>
                <div>
                    <p>Entradas analógicas</p>
                    <input type="number" name="inAna" id="inAnaUp" placeholder="Número de entradas analógicas">
                </div>
            </div>
            <div class="inp">
                <div>
                    <p>Saídas digitais</p>
                    <input type="number" name="outDig" id="outDigUp" placeholder="Número de saídas digitais">
                </div>
                <div>
                    <p>Saídas analógicas</p>
                    <input type="number" name="outAna" id="outAnaUp" placeholder="Número de saídas analógicas">
                </div>
            </div>
        </div>
        <div class="button">
            <button type="submit"><img src="/general/img/icons/save-icon.svg" alt="ìcone de atualizar">Salvar</button>
        </div>
    </form>

</div>