<div class="ca-user-data">
    <h2>Cadastro de usuário</h2>
    <form class="add-user" id="cad-user">
        <div class="texts">
            <input type="text" name="name" id="name" placeholder="Insira o nome do usuário">
            <input type="text" name="username" id="username" placeholder="Insira o username do usuário">
            <input type="email" name="email" id="email" placeholder="Insira o email do usuário">
        </div>
        <div class="texts">
            <input type="password" name="password" id="password" placeholder="Insira a senha do usuário">
            <select name="role" id="role">
                <option value="DEFAULT">Usuário comum</option>
                <option value="ADMIN">Administrador</option>
            </select>
        </div>
        <div class="button">
            <button type="submit"><img src="/general/img/icons/save-icon.svg" alt="ìcone de atualizar">Salvar</button>
        </div>
    </form>
    
</div>