<div class="ca-user-data">
    <h2>Atualização de usuário</h2>
    <form class="add-user" id="update-form">
        <div class="texts">
            <input type="text" name="name" id="name-up" placeholder="Insira o nome do usuário">
            <input type="text" name="username" id="username-up" placeholder="Insira o username do usuário">
            <input type="email" name="email" id="email-up" placeholder="Insira o email do usuário">
        </div>
        <div class="texts">
            <input type="password" name="password" id="password-up" placeholder="Insira a senha do usuário">
            <select name="role" id="role-up">
                <option value="DEFAULT">Usuário comum</option>
                <option value="ADMIN">Administrador</option>
            </select>
        </div>
        <div class="button">
            <button type="submit"><img src="/general/img/icons/save-icon.svg" alt="ìcone de atualizar">Salvar</button>
        </div>
    </form>
    
</div>