<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemoteLab | Usuário</title>
    <link rel="stylesheet" href="/general/css/fonts.css">
    <link rel="stylesheet" href="/general/css/colors.css">
    <link rel="stylesheet" href="/general/css/basic.css">
    <link rel="stylesheet" href="/general/css/scrollbar.css">
    <link rel="stylesheet" href="/general/css/login.css">
    <link rel="stylesheet" href="/general/css/animations/load.css">
    <link rel="stylesheet" href="/partials/css/navbar.css">
</head>
<body>
    <%- include('../partials/navbar', {logo: "/general/img/logo-remotelab.svg", link1: "#", icon1: "/general/img/icons/home-icon.svg", descricao1: "Ícone de tela inicial", link2: "#", icon2: "/general/img/icons/settings-icon.svg", descricao2: "Ícone de configuração dos dados do usuário"}) %>
</body>
</html>